@font-face {
    font-family: adobeCleanRegular;
    src: url(AdobeClean-Regular.otf);
} 

body {
    background-color: #232323;
}

h1 {
    font-family: adobeCleanRegular;
    font-size: 10;
    text-align: center;
    color: #8a8a8a;
}

.input-field {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;

    border: 2px solid #313131;
    border-radius: 4px;

    background-color: #161616;
    color: white;
}

label {
    font-family: adobeCleanRegular;
    font-size: 10;
    text-align: center;
    color: #8a8a8a; 
}

#film-icon-container {
    display: flex;
    justify-content: center;
}

.film-icon {
    height: auto;
    width: auto;
    max-height: 30px;
}

.apply-button {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: flex;

    background-color: transparent;
    color: #8a8a8a;
    border: 1px solid #8a8a8a;
    border-radius: 15px;
}

.apply-button:hover {
    background-color: #8a8a8a;
    color: #232323;

    cursor: pointer;
}

#options {
    margin-left: 20%;
    margin-right: 20%;
}

.options-button {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: flex;

    background-color: transparent;
    color: #8a8a8a;
    border: none;

    cursor: pointer;
}

.caret {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;

    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #8a8a8a transparent;
}

@keyframes swap-1 {
    50% {
        transform: translateX(100%)
    }
    100% {
        transform: translateX(200%)
    }
}

@keyframes swap-2 {
    50% {
        transform: translateX(-100%)
    }
    100% {
        transform: translateX(-100%)
    }
}

@keyframes swap-3 {
    50% {
        transform: translateX(0%)
    }
    100% {
        transform: translateX(-100%)
    }
}
